snippet article "article" b
@article{$1,
	author = "$2",
	title = "$3",
	year = "$4",
	journal = "$5",

	volume = "$6",
	number = "$7",
	pages = "$8--$9",
}
endsnippet

snippet book "book" b
@book{$1,
	author = "$2",
	title = "$3",
	year = "$4",
	publisher = "$5",
}
endsnippet

snippet phd "phd" b
@phdthesis{$1,
	author = "$2",
	title = "$3",
	year = "$4",
	school = "$5",
}
endsnippet
