snippet st
size_t
endsnippet

snippet ih
#include "$1"
endsnippet

snippet ish
#include <$1>
endsnippet

snippet hg
#ifndef $1
#define $1

$2

#endif
endsnippet

snippet main
int main(int argc, const char* argv[]) {
    $1
    return 0;
}
endsnippet
