snippet env
#!/usr/bin/env python3

endsnippet

snippet ifn
if __name__ == "__main__":
    $1
endsnippet

snippet met
def $1(self$2):
    $3
endsnippet

snippet dun
def __$1__(self$2):
    $3
endsnippet

snippet con
def __init__(self$1):
    $2
endsnippet

snippet ini
#!/usr/bin/env python3
##
# $1
##

def main():
    $2

if __name__ == "__main__":
    main()
endsnippet

