[user]
	name = Darren Mulholland
	email = dmulholl@tcd.ie

[include]
    path = ~/.gitconfig_local

[core]
	excludesfile = ~/.gitignore
	editor = vim

[credential]
	helper = osxkeychain

[push]
	default = simple

[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend
	alias = !git config --list | grep alias | sed s/^alias.//
    a = add
    b = branch
    c = commit
    ca = commit --all
    cm = commit --message
    cam = commit --all --message
    co = checkout
    rb = rebase
    st = status

# Git-Delta settings.

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
