[user]
	name = Darren Mulholland
	email = dmulholl@tcd.ie

[core]
	excludesfile = ~/.gitignore
	editor = vim
    pager = diff-so-fancy | less --tabs=4 -RFX

[push]
	default = simple

[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend
	alias = !git config --list | grep alias | sed s/^alias.//
    a = add
    b = branch
    c = commit
    ca = commit --all
    cm = commit --message
    cam = commit --all --message
    co = checkout
    rb = rebase
    st = status

[include]
    path = ~/.gitconfig_local
