# ------------------------------------------------------------------------------
# Readline Settings
# ------------------------------------------------------------------------------

# Force tab autocompletion to ignore case.
set completion-ignore-case on

# List all matches when multiple completions are possible.
set show-all-if-ambiguous on

# Ask before showing all completions when there are more than 100.
set completion-query-items 100

# Show all autocomplete results at once.
set page-completions off

# Only autocomplete hidden files if the pattern explicitly begins with a dot.
set match-hidden-files off

# Add a trailing slash when autocompleting symlinks to directories.
set mark-symlinked-directories on

# Show extra file information when completing.
set visible-stats on

# More intelligent autocompletion. Requires Bash 4.
set skip-completed-text on

# Enable prefix-matching when scrolling the command history with UP and DOWN.
"\e[A": history-search-backward
"\e[B": history-search-forward

# Enable prefix-matching when scrolling the command history with Ctrl-P/N.
"\C-p": history-search-backward
"\C-n": history-search-forward

# Use Alt/Meta + Delete to delete the preceding word.
"\e[3;3~": kill-word

# Allow UTF-8 input and output.
set input-meta on
set output-meta on
set convert-meta off

# Open the command line buffer in $EDITOR, then execute the output as a command.
"\C-o": edit-and-execute-command

# Make Ctrl-L clear the screen even in vi-insert mode.
set keymap vi-insert
"\C-L": clear-screen
